@model ImovelGo.Web.Models.CompanyViewModel
@using ImovelGo.Web.Controllers
@using System.Web
@{
    Layout = "~/Views/Rikada/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
    var currentPage = HomeController.currentPage;
}
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- ============================ Page Title Start================================== -->
<div class="image-cover page-title" style="background:url(/img/a.jpg) no-repeat;" data-overlay="6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Sobre a gente</h2>
                <span class="ipn-subtitle text-light">Quem somos e nossa missão</span>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Our Story Start ================================== -->
<section>

    <div class="container">

        <!-- row Start -->
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6">
                <img src="@Model.ImageAbout" class="img-fluid" alt="" />
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="story-wrap explore-content">

                    <h2>Nossa história</h2>
                    @Html.Raw(Model.About)

                </div>
            </div>

        </div>
        <!-- /row -->

    </div>

</section>
<!-- ============================ Our Story End ================================== -->
<!-- ================= Our Team================= -->
<section class="gray-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading center">
                    <h2>Conheça nosso time</h2>
                    <p>Equipe profissional e dedicada</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="team-slide item-slide">

                    @foreach (var item in Model.Agents)
                    {
                        <!-- Single Teamm -->
                        <div class="single-team">
                            <div class="team-grid">

                                <div class="teamgrid-user">
                                    <img src="@item.Avatar" alt="" class="img-fluid" />
                                </div>

                                <div class="teamgrid-content">
                                    <h4>@item.FistName @item.LastName</h4>
                                    <span>@item.Position</span>
                                </div>

                                <div class="teamgrid-social">
                                    <ul>
                                        @if (!String.IsNullOrEmpty(item.Facebook))
                                        {
                                            <li><a href="@item.Facebook" class="f-cl"><i class="ti-facebook"></i></a></li>
                                        }
                                        @if (!String.IsNullOrEmpty(item.Twitter))
                                        {
                                            <li><a href="@item.Twitter" class="t-cl"><i class="ti-twitter"></i></a></li>
                                        }
                                        @if (!String.IsNullOrEmpty(item.Instagram))
                                        {
                                            <li><a href="@item.Instagram" class="i-cl"><i class="ti-instagram"></i></a></li>
                                        }
                                        @if (!String.IsNullOrEmpty(item.Linkedin))
                                        {
                                            <li><a href="@item.Linkedin" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>

    </div>
</section>
<!-- =============================== Our Team ================================== -->
<!-- ================= Our Mission ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading center">
                    <h2>Como nós trabalhamos</h2>
                    <p>Sempre com você</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6">

                <div class="icon-mi-left">
                    <i class="ti-lock theme-cl"></i>
                    <div class="icon-mi-left-content">
                        <h4>Suporte seguro e dedicado</h4>
                        <p>Para clientes com um ou vários imóveis. Temos soluções e serviços ideais para seu negócio.</p>
                    </div>
                </div>

                <div class="icon-mi-left">
                    <i class="ti-twitter theme-cl"></i>
                    <div class="icon-mi-left-content">
                        <h4>Seu imóvel em diversas redes</h4>
                        <p>Publicamos e gerenciamos a venda e o aluguel do imóvel em várias plataformas.</p>
                    </div>
                </div>

                <div class="icon-mi-left">
                    <i class="ti-layers theme-cl"></i>
                    <div class="icon-mi-left-content">
                        <h4>Trabalhamos com carinho</h4>
                        <p>Dedicamos 100% do nosso tempo em cada imóvel que gerenciamos. Venha com a gente.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6">
                <img src="~/img/vec-2.png" class="img-fluid" alt="" />
            </div>

        </div>
    </div>
</section>
<!-- ================= Our Mission ================= -->