@model List<ImovelGo.Web.Models.PropertyViewModel>
<!-- ============================ Property Start ================================== -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading center">
                    <h2>Imóveis populares</h2>
                    <p>Encontre as melhores opções</p>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <!-- Single Property -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="property-listing property-2">

                        <div class="listing-img-wrapper">
                            <div class="list-img-slide">
                                <div class="click">
                                    @foreach (var photo in item.Photos)
                                    {
                                        <div><a href="single-property-1.html"><img src="@photo.Path" class="img-fluid mx-auto" alt="" /></a></div>
                                    }
                                </div>
                            </div>
                            <span class="property-type">@item.Goal</span>
                        </div>

                        <div class="listing-detail-wrapper pb-0">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-1.html">@item.Title</a><i class="list-status ti-check"></i></h4>
                            </div>
                        </div>

                        <div class="price-features-wrapper">
                            <div class="listing-price-fx">
                                @if (item.GoalId == 1)
                                {
                                    <h6 class="listing-card-info-price price-prefix">@item.FinalPrice<span class="price-suffix">/mês</span></h6>
                                }
                                else
                                {
                                    <h6 class="listing-card-info-price price-prefix">@item.FinalPrice</h6>
                                }
                            </div>
                            <div class="list-fx-features">
                                <div class="listing-card-info-icon">
                                    <span class="inc-fleat inc-bed">@item.Bedroom Quartos</span>
                                </div>
                                <div class="listing-card-info-icon">
                                    <span class="inc-fleat inc-bath">@item.BathRoom Banheiro</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Single Property -->
            }

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="text-center mt-4">
                    <a href="#" class="btn btn-theme-2">Procurar mais imóveis</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Property End ================================== -->
<script type="text/javascript">
$('.click').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
    autoplaySpeed: 2000,
});

</script>